* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  color: #111;
}

img {
  display: block;
  max-width: 100%;
}

[src$=".jpg"] {
  border-radius: 4px;
}