header {
  background: var(--cor-12);
}

.header-container {
  padding-block: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.header-menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.header-menu a {
  display: inline-block;
  padding: 10px;
  position: relative;
  color: inherit;
}

.header-menu a::after {
  display: block;
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  transition: 300ms;
  background-color: var(--cor-0);
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: calc(100% - 20px); /* 20px de padding */
}

@media (width <= 800px) {
  .header-menu a {
    background-color: var(--cor-11);
    padding: 8px 10px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background-color: var(--cor-10);
  }

  .header-menu a::after {
    display: none;
  }
}

@media (width <= 600px) {
  .header-menu a {
    gap: 12px;
    font-size: 0.875rem;
  }

  .header-menu {
    width: 100%;
    justify-content: space-between;
  }
}

@media (width <= 476px) {
  .header-container {
    gap: 32px;
  }

  .header-container nav {
    width: 100%;
  }

  .header-menu {
    width: 100%;
  }
}
