.main-home-bg {
  background: var(--cor-12) url('../img/dec/bottom-left.svg') no-repeat bottom 160px left 40px;
  box-shadow: inset 0 -120px var(--cor-0);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  position: relative;
}

.main-container-conteudo {
  align-self: flex-end;
  padding-bottom: 200px;
}

.main-container-conteudo h1 {
  margin-bottom: 32px;
}

.main-container-conteudo p {
  margin-bottom: 20px;
  max-width: 38ch;
}

.main-container img {
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

@media (width <= 900px) {
  .main-container {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .main-home-bg {
    background: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor0);
  }

  .main-container-conteudo {
    padding: 0;
  }

  .main-container-conteudo h1 {    
    margin-bottom: 16px;
  }

  .main-container-conteudo p {
    margin-bottom: 12px;
  }

  .main-container img {
    height: 300px;
    width: 100%;
  }
}