.perguntas {
  padding-block: 120px;
}

.perguntas h2 {
  margin-bottom: 60px;
}

.perguntas dl > div {
  padding: 20px;
  border-radius: 4px;
  position: relative;
}

.perguntas dl > div:nth-child(odd) {
  background: var(--cor-1);
}

.perguntas button {
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.perguntas button dt {
  font-weight: 600;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
}

.perguntas button dt::before {
  content: "";
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
}

.perguntas button::after {
  content: "";
  width: 14px;
  height: 6px;
  background: url(/img/icones/seta-abrir.svg);
  transition: transform 300ms;
  position: absolute;
  top: 12px;
  right: 0;
}

.perguntas button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

html.js .perguntas dd {
  font-weight: 400;
  max-width: 80ch;
  padding-left: 20px;
  display: none;
}

html.js .perguntas dd.ativa {
  display: block;
}

@media (width < 800px) {
  .perguntas {
    padding-block: 60px;
  }

  .perguntas h2 {
    margin-bottom: 40px;
  }

  .perguntas button,
  .perguntas dd {
    font-size: 1rem;
  }
}
