.termos {
  padding-block: 120px;
}

.termos h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.termos h2:not(:first-child) {
  margin-top: 48px;
}

.termos p{
  font-weight: 400;
  margin-bottom: 12px;
  max-width: 70ch;
}

.termos p:not(:last-child) {
  margin-bottom: 12px;
}