.orcamento-bg {
  background: linear-gradient(180deg, var(--cor-11) 35%, var(--cor-1) 0);
  padding-block: 20px 120px;
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.orcamento h3 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}

.orcamento h3::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background: var(--cor-p1);
  position: absolute;
  left: -12px;
}

.orcamento-produto,
.orcamento-form {
  padding: 60px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.orcamento-produto {
  background: var(--cor-12);
  border-radius: 4px 0 0 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-content: flex-start;
}

.orcamento-produto > * {
  grid-column: 1 / -1;
}

.orcamento-produto > label {
  grid-column: initial;
}

.orcamento-produto label {
  font: 400 1rem/1.5 "Poppins", sans-serif;
  color: var(--cor-4);
  background: var(--cor-10);
  display: block;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  border: 1px solid transparent;
}

.orcamento-produto label::before {
  box-sizing: border-box;
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid var(--cor-6);
  border-radius: 50%;
}

.orcamento-produto input:checked + label::before {
  border-color: var(--cor-7);
  box-shadow: inset 0 0 0 3px var(--cor-0), inset 0 0 0 5px var(--cor-7);
}

.orcamento-produto label:hover {
  background: var(--cor-9);
}

.orcamento-produto input:focus + label {
  box-shadow: 0 0 0 2px var(--cor-p1);
  border-color: var(--cor-12);
}

.orcamento-produto label span {
  display: none;
}

.orcamento-produto input:checked + label span {
  display: initial;
}

.orcamento-produto input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.orcamento-produto input:checked + label {
  background: var(--cor-0);
  color: var(--cor-11);
}

.orcamento-conteudo h3 {
  margin-top: 20px;
}

.orcamento-conteudo {
  display: none;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: grid;
  gap: 20px;
}

.orcamento-detalhes {
  display: none;
  padding: 12px 16px;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  border-radius: 4px;
  background: var(--cor-0);
}

.orcamento-produto input:checked + label + .orcamento-detalhes {
  display: grid;
}

.orcamento-detalhes ul {
  display: grid;
  gap: 8px;
}

.orcamento-detalhes ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.orcamento-detalhes li img {
  width: 16px;
}

.orcamento-detalhes > img {
  height: 100%;
  object-fit: cover;
}

.orcamento-form {
  background: var(--cor-0);
}

.duas-colunas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.orcamento-form h3:nth-of-type(n + 2) {
  margin-top: 40px;
}

@media (width < 1200px) {
  .orcamento-produto,
  .orcamento-form {
    padding: 32px;
  }
}

@media (width < 950px) {
  .orcamento {
    grid-template-columns: 1fr;
  }

  .orcamento-produto {
    border-radius: 4px 4px 0 0;
  }

  .orcamento-form  {
    border-radius: 0 0 4px 4px;
  }
}

@media (width < 450px) {
  .orcamento-produto > label {
    grid-column: 1 / -1;
  }

  .duas-colunas {
    grid-template-columns: 1fr;
  }
}
